<!DOCTYPE html>
<html>
  <head>
    <title>About Us | Hack Peninsula</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <a href="/">
      <img style="width: 300px; height: 53px;" src="/images/banner.png">
    </a>
    <nav>
      <a id="link" href="/">Home</a>
      <a id="link" href="/about">About*</a>
      <a id="link" href="/contact">Contact</a>
    </nav>
    <h1>About Hack Peninsula</h1>
    <br>
    <div>
      <h2>Our purpose</h2>
      <p>
        Hack Peninsula is a Palos Verdes based hackathon run for students, by students.
        Students of any skill level between the ages of 13-18 are welcome to compete!
        We invite students who are passionate about technology from all over Palos Verdes to come together for 12 hours, 
        where they can create software projects from scratch and compete for prizes.
        We guarantee you are going to have a blast!
      </p>
    </div>
    <br>
    <div>
      <h2>Meet the team</h2>
      <table>
        <tr>
          <th>Nathan Kwok</th>
          <th>ur mom</th>
        </tr>
        <tr>
          <td>
            <img style="height: 256px; width: 256px;" src="/images/nk.png">
            Nathan Kwok is the founder of Hack Peninsula, is a software developer with a passion for sparking interest in programming.
            He has taught multiple high-level classes at PVNet, an advanced technology center tailored to everything STEM.
            This year, Nathan has brought his friends together and partnered with PVNet to create Hack Peninsula, where he hopes to
            provoke thinking, collaboration, and fun through programming and competition.
          </td>
          <td>
            <img src="https://lh3.googleusercontent.com/a/ACg8ocKGy7I6VJR5T4F_cGuXcNjxBpVuTDEbbLGYkcZuO3amjcA=s288-c-no">
            ur mom ur mom ur mom ur mom ur mom ur mom ur mom ur mom ur mom ur mom ur mom ur mom ur mom ur mom 
          </td>
      </table>
    </div>
  </body>
</html>
