<!DOCTYPE html>
<html>
  <head>
    <title>Hack Peninsula</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <a href="/">
      <img style="width: 300px; height: 53px;" src="/images/banner.png">
    </a>
    <nav>
      <a id="link" href="/">Home</a>
      <a id="link" href="/about">About</a>
      <a id="link" href="/contact">Contact*</a>
    </nav>
    <h1>placeholder lmfao</h1>
  </body>
</html>
